*{
    margin: 0;
    padding: 0;
    font-family: "Rajdhani", sans-serif;
    font-weight: 550;
    font-style: normal;
    box-sizing: border-box;
}
body{
    color: #9EC8B9;
}
.container{
    position: absolute;
    /* background-color: white; */
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center ;
    justify-content: center;
    background-color: #092635;
    /* top: 45%;
    left: 50%;
    transform: translate(-50%,-50%); */
}
.container h3{
    font-size: 90px;
}
#thebutton{
    height:60px;
    width: 200px;
    cursor: pointer;
    outline: 0;
    border: 2px solid #9EC8B9;
    border-radius: 5px;
    background-color: #9EC8B9;  
    color: #092635;  
    margin-left: 20%;
    margin-top: 30px;
    padding: 10px;
    font-size: larger;
    font-weight: 500;
    transform: scale(1);
    transition: background-color 0.2s, color 0.2s,transform 0.2s, border 0.2s; 
}   
#thebutton:hover{
    background: #092635;
    color: #9EC8B9;
    transform: scale(0.90);
    border: 2px solid #9EC8B9;
    transition: background-color 0.2s, color 0.2s, transform 0.2s, border 0.2s;
}
#thebutton:active{
    transform: scale(0.8);
    transition: transform 0.2s;
}

#counttttt{
    font-size: 90px;
}
#gameover{
    position:absolute;
    font-size: 35px;
    margin-top: 40px;
    margin-left: -80px;
}
#hiscore{
    position: absolute;
    margin-top: -40%;
    margin-left:70%;
    font-size: 40px;
}

#historysee{
    position: absolute;
    margin-top:-30%;
    width: 200px;
    height: 50px;
    outline: 0;
    border: 2px solid #9EC8B9;
    border-radius: 5px;
    background-color: #9EC8B9;  
    cursor: pointer;
    margin-left:70%;
    padding: 10px;
    font-size: larger;
    font-weight: 500;
    transform: scale(1);
    transition: background-color 0.2s, color 0.2s,transform 0.2s, border 0.2s; 
}
#historysee:hover{
    background: #092635;
    color: #9EC8B9;
    transform: scale(0.90);
    border: 2px solid #9EC8B9;
    transition: background-color 0.2s, color 0.2s, transform 0.2s, border 0.2s;
}
#historysee:active{
    transform: scale(0.8);
    transition: transform 0.2s;
}
